/*index page*/
body{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

#header{
    border: 2px rgb(0, 0, 0) solid;
    background-color: #16eb33;
    margin-bottom: 40px;
}

h1{
    text-align: center;
}

fieldset{
    border: 0px solid black;
}
#form{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#bgdiv{
    background-color: rgb(233, 233, 233);
    width: 44%;
    padding: 10px;
    border-radius: 3%;
    position: relative;
    margin: 0 auto;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    border: solid 2px;
}

.items{
    display: flex;
    padding: 5px 0px;
    position: relative;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.inputData{
    width: 102px;
}

#submitBtn,#monthlyBtn{
    text-align: center;
    margin: 10px auto;
    position: relative;
    background-color: #ff1e00;
    color: rgb(255, 255, 255);
    width: 32%;
    display: block;
    font-weight: lighter;
    padding: 5px 10px;
    font-size: 15px;

}

#monthlyBtn{
    width: 20%;
    background-color: #000000;
    color: rgb(21, 255, 0);
    font-weight: bold;
}

/*for mobile*/
@media (min-width:320px) and (max-width:1024px){
    body{
        width: 100%;
    }
    #header{
        height: 200px;
        width: 100%;
    }
    #title{
        font-size: 80px;
    }

    form{
        height: 800px;
    }

    #bgdiv{
        height: 750px;
        width: 80%;
        margin-top: 100px;
    }
    #enterExpenseText{
        font-size: 60px;
    }
    .items{
        padding: 10px 0;
    }
    .label{
        font-size: 50px;
    }
    .inputData{
        width: 300px;
        height: 50px;
        font-size: 40px;
    }
    #submitBtn{
        height: 60px;
        font-size: 40px;
        width: 300px;
        margin-top: 20px;
    }
    #monthlyBtn{
        height: 60px;
        font-size: 38px;
        width: 550px;
        margin-top: 20px;

    }
    p{
        font-size: 40px;
    }
    #sumDaily{
        font-size: 40px;
    }
    #sumMonthly{
        font-size: 30px;
    }
}

